/*Schedule page*/
.information{
    display: flex;
    flex-direction: column;
}

table{
    margin:1%;
    font-family: 'Open Sans', sans-serif;
}

.scroll {
    background-color: none;
    width: 500px;
    height: 210px;
    overflow:auto;
    margin-bottom: 1%;
}


.schedule h2{
    margin-bottom: 0%;
    font-family: 'Open Sans', sans-serif; 
}

.schedule h4{
    margin-top: 0%;
    margin-bottom: 0%;
    font-family: 'Open Sans', sans-serif; 
}
.schedule p{
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif; 
}
details {
    width:300px;
    margin-left: 1%;
    font-family: 'Open Sans', sans-serif;
}


th{
    text-align: center; 
    padding-left: 35px;
    padding-right: 35px;
    text-decoration: underline;
}

tr{
    text-align: center;
    font-size: 12px;
    padding-left: 15px
}



/*general structure*/
.sidebar{
    width: 1000px;
    height: 320px;
    margin-left: 13%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.left{
    align-items:flex-start;
    margin-left: 1%;
    margin-top:1%;
}

.content{
    align-items:flex-end;
    margin-left: 7%;
    margin-top:1%; 
}

.content ul{
    list-style: none;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

ul em{
    color: #88ada3;
}

h2{
    font-family: 'Open Sans', sans-serif; 
}