/*content*/
.sidebar{
    width: 1000px;
    height: 320px;
    margin-left: 13%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.left{
    align-items:flex-start;
    margin-left: 1%;
    margin-top:1%;
        
}


.content{
    align-items:flex-end;
    margin-left: 7%;
    margin-top:1%; 
}

.content ul{
    list-style: none;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

ul em{
    color:#a1bac4;
}

h2{
    font-family: 'Open Sans', sans-serif; 
}